*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
   
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  padding: 0 30px;
  min-height: 100vh;
  max-width: 1300px;
  
   
}


/*===================Header====================*/

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:crimson;
    height: fit-content;
    padding: 5px;
    background-color: crimson;
   position: relative;

}
#nav .logo{
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}

#nav .menu ul li{
    
    margin:10px;
    display: inline-block;
    
    
}

#nav .menu a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size:20px ;
    margin:0px 5px;
    transition: all 0.3s ease;
    
}
#nav .menu .abt{
    background-color: white;
    color: crimson;
}
#nav .menu a:hover {
    background-color: white;
    color: crimson;
     
}
   /*===================Dropdown====================*/
   .dropbtn {
    background-color: crimson;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    
    position: relative;
    display: none;
    margin-right: 60px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
 
 
   /*===================About====================*/
   section{
       background-color: white;
       color: black;
       
       
       
   }
   #about{
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    

   }
   #about .title{
        position: relative;
       text-align: center;
       font-family: 'Ubuntu', sans-serif;
       font-size: 40px;
       font-weight: 500;
       margin-bottom: 60px;
       padding-bottom: 20px;
       font-weight: 700;
       
       
   }
   
   
   #about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    background: black;
    width: 180px;
    height:3px;
    transform: translateX(-50%);
   }
    #about .title::after{
        content: "who i am";
        position: absolute;
        bottom: -13px;
        left: 46%;
        padding: 5px;
        background: white;
        font-size: 20px;
        font-weight: 700;
        color: crimson;
         
    }
    .about-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 70px;
       
        
    }
   #about .column-left img{
       height: 400px;
       width: 400px;
       object-fit: cover;
       border-radius: 6px;
   }
  
   #about .about-content .column-left{
       width: 45%;
       

   }
   #about .about-content .column-right{
    width: 55%;
    padding-right: 30px;
    text-justify: distribute;
    
   

}
#about .about-content .text{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}
.about-content span{
    color: #fa2020f5;
}
#about .about-content .column-right p{
    text-align: justify;
    line-height: 1.5;
    font-size: 13px;
   
}
#about .about-content .column-right a{
    display: inline-block;
    background: crimson;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding:1px 20px ;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
#about .about-content .column-right a:hover{
    color:crimson;
    background: none;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: crimson;
    color: white;
    width: 100%;
    margin-top: 40px;
      }
.trademark{
    font-size: 20px;
    padding:  10px 5px;
}
.top a{
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    color: white;
    padding:  10px 5px;
}
.top a:hover{
color: crimson;
background-color: white;
}


   
   
  /*===================Responsiveness====================*/  
   
   @media only screen and (max-width: 1300px) {
    body{
      
        max-width: 1300px;
         }
    
    #about .column-left img{
        height: 300px;
        width: 300px;
      
    }
    .about-content{
        margin: 20px;
    }
    #about .about-content .text{
           
        font-size: 23px;
}
}

    @media only screen and (max-width: 850px){
    body{
      
            max-width: 850px;
             }
        
    .max-width{
        max-width: 850px;
            }
    .about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        }
    #about .about-content .column-right{
            width: 100%;
            padding: 20px;
            margin: 10px;
        }
    #nav .logo{
        font-size: 30px;
    }
        .dropdown{
            display: inline-block;
            margin-right: 20%;
        }  
    .menu{
            display: none;
        }
    #about .about-content .text{
           
            font-size: 20px;
    }
    #about .about-content .column-right{
        text-align: center;
    }
    #about .title::after{
        left:44%;
    }
    .trademark, .top{
        transform: scale(0.8);
        }
}

    @media only screen and (max-width: 550px){
        body{
      
            max-width: 550px;
             }
        #about .about-content .column-left{
                width: 100%;
            }
        .dropdown{
           
            margin-right: 7%;
            }
        
        .dropdown-content {
       
        min-width: 90px;
        }
         #about .about-content .text{
           
                font-size: 18px;
        }
        #about .title{
            font-size: 30px;  
            }

        #about .title::after{
            left:40%;
            font-size:17 ;
        }
        .trademark, .top{
            transform: scale(0.7);
            }
            }
    
    @media only screen and (max-width: 360px){
        body{
      
            max-width: 360px;
             }
        #about .column-left img{
            height: 200px;
            width: 200px;
          
        }
        #about .about-content .text{
           font-size: 18px;
            margin-bottom: 5px;
        }
        #about .about-content .column-right p{
            text-align: justify;
            font-size: 11px;
        }
        #about .about-content .column-right a{
        transform: scale(0.7);
        }
     
         #about .title::after{
             font-size: 15px;
             left:30%;
         }
         #about .title::before{
           
            width: 150px;
            height:3px;
         }
         .dropdown{
             transform: scale(0.7);
             margin-right: 3%;
         }
         #nav .logo{
            font-size: 20px;
        }
        #about .title{
            transform: scale(0.8);
            }
        .trademark, .top{
                transform: scale(0.6);
                }
         }
          
          
    
    @media only screen and (max-width: 260px){
        body{
      
            max-width: 260px;
             }
        #about .column-left img{
            height: 150px;
            width: 150px;
        }

      
        #about .about-content .column-right a{
            transform: scale(0.7);
            font-size: 11px;
            padding:1px 5px ;
            margin-top: 10px;
           
        }
        #about .about-content .text{
            font-size: 13px;
             margin-bottom: 5px;
         }
        #about .about-content .column-right p{
           font-size: 8px;
        }
        .dropdown{
            transform: scale(0.6);
            margin-right: 2%;
        }
        #about .title{
            transform: scale(0.7);
            }
    }
   
   
   
   
   
   
   
   
   
   
   
   
   